auto {{ item.key }}
iface {{ item.key }} inet {{ item.value.method }}
{% if item.value.method != "dhcp" %}
    address {{ item.value.ipv4 }}
    gateway {{ item.value.gateway_ipv4 }}
{% endif %}
{% if item.value.vlan_raw_device is defined %}
    vlan-raw-device {{ item.value.vlan_raw_device }}
{% endif %}